@import '../../theme/variables.css';

@media (max-width: 767px) {
  .acess-wrapper {
    display: none !important;
  }
}

.acessibilidade {
  background-color: #fff;
}

.acess-container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--layout-container-width);
}

.acess-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.acess-menus {
  display: flex;
  gap: 75px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.acess-ul {
  display: flex;
  flex-direction: row;
  padding: 0; /* Remove o recuo padrão */
  margin: 0; /* Remove a margem padrão */
  gap: 20px;
  list-style-type: none;
}

.acess-ul > * > * {
  color: var(--green-matriz-link);
  font-size: 12px;
}

.acess-ul > li :hover {
  color: var(--green-matriz-link-activated);
  cursor: pointer;
}

.acess-left > * > * {
  font-size: 16px;
}

@media only screen and (max-width: 1279px) and (min-width: 767px) {
  .acess-menus {
    width: 60%;
  }
}
