#footer {
  background-color: var(--preto-background);
}

.rodape__procergs {
  display: flex;
  max-width: 360px;
  flex-direction: column;
  text-align: left;
}

.footer-container {
  max-width: var(--layout-container-width);
  padding: 0 var(--padding-default);
  margin: 0 auto;
}

.footer-container > * {
  margin-bottom: 40px;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 40px;
  color: white;
  gap: 40px;
  text-align: start;
}

.footer-info > p {
  width: 250px;
}

.footer-images {
  display: flex;
  max-height: 270px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.rodape__mapa-site__item > a:hover,
.rodape__mapa-site__item > ul > li > a:hover {
  color: var(--green-matriz-link) !important;
  text-decoration: none !important;
}

.footer-logo {
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: flex-end;
  padding: 21px 0 20px 0;
  padding-right: 10%;
  background-color: var(--branco);
}

.footer-images svg,
.footer-images img {
  width: 163px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .footer-images {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
  }
  .footer-images svg,
  .footer-images img {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .footer-images {
    justify-self: center;
  }
  .footer-images svg,
  .footer-images img {
    width: 200px;
  }
}

@media (min-width: 1279px) {
  .footer-images {
    margin-right: 60px;
  }
}
