.s-wrapper {
  display: flex;
  width: 85%;
  height: fit-content;
  align-items: center;
  padding: 0 0 0 15px;
  border: 4px solid var(--preto-background);
  background-color: var(--bege-padrao);
  box-shadow: 0 0 8px #ddd;
  justify-self: center;
  place-content: space-between;
}

#s-logo {
  height: stretch;
  padding: 15px;
  border: none;
  border-left: 4px solid var(--preto-background);
  background-color: transparent;
  color: var(--preto-background);
}

#s-logo svg path {
  fill: var(--preto-background);
}

.s-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: var(--preto-background);
  font-size: 24px;
  font-style: italic;
}

.s-input::placeholder {
  color: var(--preto-background);
  font-weight: bold;
}

.s-input:focus {
  outline: none;
}
