.bloco-sustentabilidade {
  display: flex;
  width: 95%;
  flex-direction: row;
  margin: 160px auto;
  gap: 30px;
}

.sustentabilidade-coluna-esquerda {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sustentabilidade-coluna-esquerda h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 115%;
  text-transform: uppercase;
}

.sustentabilidade-coluna-esquerda span {
  color: var(--bege-padrao);
}

.sustentabilidade-coluna-esquerda p {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.sustentabilidade-coluna-esquerda a {
  width: fit-content;
  padding: 10px 20px;
  border: 4px solid var(--verde-padrao);
  background: var(--preto-background);
  color: var(--verde-padrao);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.sustentabilidade-coluna-esquerda a:hover {
  background: var(--bege-padrao);
  color: var(--preto-background);
}

.sustentabilidade-coluna-direita {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.sustentabilidade-box {
  display: flex;
  min-width: 260px;
  height: 245px;
  flex: 0 0 calc(50% - 12px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border: 4px solid var(--verde-padrao);
  gap: 8px;
  text-align: center;
}

.sustentabilidade-box:hover {
  background: var(--bege-padrao);
}

.sustentabilidade-box:hover .sustentabilidade-descricao {
  color: var(--preto-background);
}
.sustentabilidade-numeros {
  color: var(--verde-padrao);
  font-size: 60px;
  font-weight: 900;
}

.sustentabilidade-descricao {
  color: var(--bege-padrao);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.sustentabilidade-link-hidden {
  display: none;
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {
  .bloco-sustentabilidade {
    flex-direction: column;
  }

  .sustentabilidade-coluna-esquerda h2 {
    font-size: 46px;
  }

  .sustentabilidade-coluna-esquerda a {
    display: none;
  }

  .sustentabilidade-link-hidden {
    display: block !important;
  }

  .sustentabilidade-box {
    min-width: 200px;
    flex: 0 0 calc(50% - 12px);
  }
}

@media only screen and (max-width: 767px) {
  .bloco-sustentabilidade {
    flex-direction: column;
  }

  .quebraLinha {
    display: none;
  }

  .sustentabilidade-coluna-direita {
    flex-direction: column;
    align-self: center;
  }

  .sustentabilidade-box {
    min-width: 260px;
    flex: 1 1 100%;
  }

  .sustentabilidade-coluna-esquerda h2 {
    font-size: 30px;
  }

  .sustentabilidade-coluna-esquerda p {
    font-size: 16px;
  }

  .sustentabilidade-numeros {
    font-size: 40px;
  }

  .sustentabilidade-descricao {
    font-size: 16px;
  }

  .sustentabilidade-coluna-esquerda a {
    display: none;
  }

  .sustentabilidade-link-hidden {
    display: block !important;
  }
}
