.bloco-comoFunciona {
  margin: 160px auto;
}

.sust-one-to-another {
  display: flex;
  height: 100%;
  align-items: center !important;
  align-self: center !important;
  gap: 20px;
}

.sust-item .sust-item-text .span-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.sust-item .sust-item-text .span-text {
  font-size: 14px;
}

.sust-item.hidden {
  width: 200px;
}

.sust-title {
  width: 100%;
  padding: 0 0 0 20px;
  margin-bottom: 0;
  color: #00b033;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.hidden.subtexto-reaproveitamento {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.hidden.subtexto-reaproveitamento h1 {
  margin-bottom: 0;
  color: #00b033;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.sust-two-vectors {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  place-content: flex-end;
}

.two-vectors-final {
  justify-content: flex-end;
}

.two-vectors-container {
  display: flex;
  width: 200px;
  height: 56%;
  flex-direction: column;
  justify-content: space-between;
}

.two-vectors-final .two-vectors-container {
  justify-content: space-between;
}

.sust-two-vector {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.sust-container {
  display: flex;
  height: 750px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
}

.sust-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.one {
  width: 145px;
  height: 205px;
  gap: 40px;
}

.two {
  width: 134px;
}

.sust-meio {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sust-meio-itens {
  display: flex;
  width: 180px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 85px;
  gap: 30px;
}

.sust-item-text {
  display: flex;
  height: 70px;
  flex-direction: column;
  align-items: flex-start;
  place-self: flex-end;
}

.sust-item-text span:nth-child(1) {
  color: #f0ead7;
  font-size: 16px;
  font-weight: bold;
  place-content: flex-end;
  text-transform: uppercase;
}

.sust-item-text span:nth-child(2) {
  color: #f0ead7;
  font-size: 12px;
}

.hidden,
.medium:not(.gone) {
  display: none;
}

.vector2_1 {
  width: 50%;
}

.vector1_2 {
  width: 50%;
}

@media (max-width: 1279px) and (min-width: 768px) {
  .sust-title {
    margin-bottom: 30px;
  }

  .medium {
    display: flex !important;
  }

  .hidden,
  .gone {
    display: none;
  }

  .medium {
    display: flex !important;
  }

  .sust-container {
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .first.sust-one-to-another {
    width: 41%;
    justify-content: space-around;
    margin-bottom: 16px;
  }

  .sust-meio .sust-one-to-another {
    flex-direction: column;
  }

  .sust-meio {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sust-meio-itens {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: unset;
    margin-bottom: 20px;
  }

  .sust-item {
    width: 20%;
    align-items: center;
    text-align: center;
  }

  .sust-item .sust-item-text span {
    align-self: center;
  }

  .vectors-medium {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    gap: 5%;
  }

  .vector4 {
    width: 40%;
  }

  .vector5 {
    width: 53%;
  }

  .two-vectors-container {
    width: 100%;
    flex-direction: row;
  }

  .two-vectors-container .sust-two-vector {
    width: 30%;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
  }

  .sust-meio .sust-one-to-another:last-child {
    align-self: normal;
  }

  .sust-one-to-another:has(.two-vectors-container) {
    width: 100%;
    align-self: space-around !important;
  }

  .sust-one-to-another .sust-two-vectors {
    width: 100%;
    margin-top: 2%;
  }

  .sust-one-to-another .sust-two-vectors .sust-item {
    width: 70%;
  }

  .sust-one-to-another .sust-two-vectors .sust-item-text {
    height: fit-content;
  }

  .two-vectors-container {
    justify-content: space-around;
  }

  .sust-two-vector.gone.medium .sust-item {
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .sust-title {
    padding: 20px 0;
    color: rgb(0, 176, 51);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .vector5 {
    width: 50%;
  }

  .sust-container {
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sust-one-to-another {
    height: unset;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sust-meio {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sust-meio-itens {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-top: unset;
    margin-bottom: 20px;
  }

  .vector1 {
    padding: 50px 0px;
    transform: rotate(90deg);
  }

  .gone,
  .medium {
    display: none !important;
  }

  .hidden {
    display: flex;
  }

  .sust-two-vectors {
    padding-top: 100px;
  }

  .sust-item {
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .sust-item-text {
    align-items: center;
    justify-content: center;
  }

  .sust-item-text span:nth-child(1) {
    justify-content: center;
    font-size: 12px;
    text-align: center;
  }

  .sust-item-text span:nth-child(2) {
    justify-content: center;
    font-size: 10px;
    text-align: center;
  }
}
