.accordion-block {
  width: 100vw;
  max-width: var(--layout-container-width) !important;
  margin-top: 160px;
  margin-bottom: 160px;
}

.accordion-block .accordion h3,
.accordion-block .accordion .title,
.accordion-block .accordion button[aria-expanded] {
  background-color: var(--preto-background) !important;
}

.accordion-block .accordion h3.active,
.accordion-block .accordion .title.active,
.accordion-block .accordion button[aria-expanded='true'] {
  background-color: var(--bege-padrao) !important;
}

.accordion-block .accordion h3:hover,
.accordion-block .accordion .title:hover,
.accordion-block .accordion button[aria-expanded]:hover {
  background-color: var(--bege-padrao) !important;
}

.accordion-block .accordion:hover .accordion-title span,
.accordion-block .accordion .accordion-title:hover input {
  color: var(--preto-background) !important;
}

.accordion-block .accordion .accordion-title.active span,
.accordion-block .accordion .accordion-title.active input {
  color: var(--preto-background) !important;
}

.accordion-block .accordion h3,
.accordion-block .accordion .title,
.accordion-block .accordion button[aria-expanded] {
  padding: 10px 0px 10px 38px !important;
  border: 4px solid var(--verde-padrao) !important;
}

.accordion-block .accordion .accordion-title span,
.accordion-block .input-accordion-title input,
.accordion-block .accordion .title,
.accordion-block .accordion button[aria-expanded] {
  color: var(--bege-padrao) !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

.accordion-block .accordion .content {
  padding: 24px 55px 0px 75px !important;
  background-color: var(--verde-escuro);
  font-size: 18px;
}

.accordion-block .accordion h2.headline,
.accordion-block .headline {
  margin-bottom: 20px !important;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

.accordion-block .accordion-title svg,
.accordion-block .accordion .title svg,
.accordion-block .accordion button[aria-expanded] svg {
  display: none;
}

.accordion-block .accordion-title::before,
.accordion-block .accordion .title::before,
.accordion-block .accordion button[aria-expanded]::before {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../../customizations/images/gridicons_dropdown.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.accordion-block .accordion .accordion-title.active::before,
.accordion-block .accordion .title.active::before,
.accordion-block .accordion button[aria-expanded='true']::before {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../../customizations/images/gridicons_up.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.accordion-block .blocks-group-wrapper {
  padding-bottom: 40px;
}

@media only screen and (max-width: 991px) {
  .accordion-block {
    width: 93% !important;
    min-width: 300px;
  }

  .accordion-block .accordion .content {
    padding: 24px 17px 0px 10px !important;
  }
}
