#contact-form > * > * > * > * > * {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

#contact-form > * > * > * > * > * > * {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

#contact-form > * > * > * > * > * > * > * {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

#contact-form > * > * > * > * > * > * > :nth-child(1) {
  color: var(--verde-padrao) !important;
  fill: var(--verde-padrao) !important;
}

#contact-form > * > * > * > * > * > * > :nth-child(2) {
  color: red !important;
  fill: red !important;
}

#contact-form > * > * > * > * > * > * > * > * > * > * > * {
  border: none !important;
  box-shadow: none !important;
}

#contact-form > * > * > * > * > * > * > * > * > * > * > textarea {
  border: none !important;
  border: 1px solid white !important;
  background: transparent !important;
  box-shadow: none !important;
  color: var(--bege-padrao) !important;
}

#contact-form > * > * > * > * > * > * > * > * > * > * > * > * {
  background: transparent !important;
  color: var(--bege-padrao) !important;
}
