.section-sitemap {
  #page-sitemap {
    a,
    ul li a,
    li.with-children > a {
      color: var(--verde-padrao) !important;
      font-weight: 700;
      text-decoration: none;
    }

    ul li ul li a {
      color: var(--verde-padrao) !important;
      font-weight: 400;
    }

    a:hover,
    a:visited,
    ul li a:hover,
    ul li a:visited {
      color: var(--verde-padrao) !important;
      text-decoration: underline;
    }

    ul li::marker,
    ol li::marker {
      color: var(--verde-padrao) !important;
    }

    ul li::before,
    ol li::before {
      border-color: var(--verde-padrao) !important;
      background-color: var(--verde-padrao) !important;
      color: var(--verde-padrao) !important;
    }
  }
}
