@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './components/Accordion.scss';
@import './components/BreadCrumbs.scss';
@import './Contraste.scss';
@import './components/ContForm.scss';

*:not(.barra-estado__container, h2, button):not(.barra-estado__container *) {
  font-family: 'Saira', Arial, Helvetica, sans-serif !important;
}

body:not(.barra-estado__container) {
  background: var(--preto-background);
  color: var(--bege-padrao);
  font-family: 'Saira', Arial, Helvetica, sans-serif !important;
  .content-area p > a {
    color: var(--verde-padrao) !important;
    text-decoration: underline;
    &:hover {
      color: var(--bege-padrao) !important;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--verde-padrao);
  font-weight: 900 !important;
}

.block a {
  &h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--verde-padrao) !important;
  }
  p {
    color: var(--bege-padrao) !important;
  }
}

h2,
button {
  font-family: 'Saira Condensed', Arial, Helvetica, sans-serif !important;
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;
}

#sidebar {
  color: var(--preto);

  .row {
    padding: 15px 20px;
  }
}

.block button:not(.delete-button),
.block .link-button {
  width: fit-content;
  padding: 10px 20px !important;
  border: 4px solid var(--verde-padrao) !important;
  background: var(--preto-background) !important;
  color: var(--verde-padrao) !important;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background: var(--bege-padrao) !important;
    color: var(--preto-background) !important;
  }

  @media only screen and (max-width: 767px) {
    font-size: 16px;
  }
}

.content-area .delete-button svg path {
  fill: var(--bege-padrao);
}

.content-area .delete-button:hover {
  background: var(--bege-padrao) !important;
  fill: var(--vermelho-padrao) !important;
}

.main a {
  color: var(--verde-padrao) !important;
  text-decoration: none;

  &:hover {
    color: var(--bege-padrao) !important;
  }
}

.acessibilidade {
  background-color: #e5e5e5;
}

.acess-wrapper {
  max-width: 100%;
  justify-content: space-between;
  color: var(--preto-background);

  .acess-ul > * > * {
    color: var(--preto-background);
  }
}

.barra-estado {
  background-color: var(--cinza-barraEstado);

  .barra-estado__menu > li > a {
    color: var(--branco);
  }

  #rs-gov {
    fill: var(--branco) !important;
  }
}

.figure > figcaption > div > p {
  font-size: 16px !important;
}