:root {
  --preto-background: #2d2d2d;
  --verde-padrao: #00b033;
  --verde-escuro: #1e592f;
  --bege-padrao: #f0ead7;
  --preto: #000;
  --branco: #ffffff;
  --cinza-barraEstado: #4f5050;
  --verde-claro: #a0d7a0;
}
