header{
    display: flex;
    flex-direction: column;
}

.header-wrapper{
    width: 100%;
}

.header-wrapper .header{
    max-width: 100% !important;
}

.header-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 24px 0px;
    align-items: center;
}
.header-wrapper .header .logo-nav-wrapper{
    justify-content: flex-start !important;
    align-items: normal !important;
}

.logo-nav-wrapper{
    border-top: 4px solid var(--verde-padrao);
    border-bottom: 4px solid var(--verde-padrao);
    padding: 0px 113px !important;
    display: flex;
    align-items: stretch; 
}

.logo-nav-wrapper a{
    border-left: 4px solid var(--verde-padrao);
    padding: 24px 32px;
    font-size: 24px;
    font-weight: 900;
    color: var(--bege-padrao) !important;
}

.logo-nav-wrapper a:hover{
    color: var(--preto-background) !important;
    background-color: var(--bege-padrao) !important;
}

.logo-nav-wrapper a.nav-item:hover svg path {
  fill: #2d2d2d !important;
}

.nav-search-icon{
    border-left: 4px solid var(--verde-padrao);
    border-right: 4px solid var(--verde-padrao);
    background: transparent;
    padding: 24px 32px;
}

.nav-search-icon:hover{
    background-color: var(--bege-padrao);
}

.nav-search-icon:hover svg path {
  fill: #2d2d2d !important;
}

.search-bar-absolute {
  position: absolute;
  left: 0;
  width: 100vw;
  background: var(--verde-padrao);
  z-index: 2000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInDown 0.2s;
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-10px);}
  to { opacity: 1; transform: translateY(0);}
}

